DB_USER=setu
DB_PASS=setu_pass
DB_NAME=setu_db

TS_USER=setu_ts
TS_PASS=setu_ts_pass
TS_DB=telemetry

REDIS_URL=redis://localhost:6379
MQTT_BROKER=localhost
MQTT_PORT=1883

OSRM_URL=http://localhost:5000
